# dependencies
node_modules/

# builds
build/
dist/
server/dist/

# env files
.env
*.env
server/.env

# logs and cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cursor/

# OS
.DS_Store
